@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0px;
    height: 100%;
    width: 160px;
    background: #11101d;
    transition: all 0.5s ease;
}

.logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.logo-details i {
    font-size: 40px;
    color: rgba(255, 255, 255, 0.874);
    height: 50px;
    min-width: 50px;
    text-align: center;
    line-height: 50px;
}

.logo-details .logo_name {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}

.navbar .nav-links {
    height: 100%;
    padding: 10px 0 0 0;
    overflow: auto;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center;
}

nav ul li a i {
    font-size: 25px;
    color: #fff;
    padding: 5px;
}

nav ul li a .link_name {
    font-size: 17px;
    color: #fff;
    font-weight: 400;
}

nav ul li:hover {
    background: rgb(155, 228, 208);
    color: #111;
}
.btn {
    position: absolute;
    top: 32px;
    right: -45px;
    transform: translateY(-50%);
    background: #fff;
    width: 40px;
    text-align: center;
    line-height: 50px;
    border-radius: 3px;
    transition: 0.5s;
    cursor: pointer;
}

.btn i {
    font-size: 32px;
    color: #111;
}
.sidebar-text{
    position: relative;
    top: 0;
    color: rgb(22, 22, 22);
    font-size: 17px;
    font-weight: 400;
    margin-left: 10px;
}
.navbar.active{
    left: -160px;
}
.content{
    /*! margin-left: 300px; */
    display: flex;
    /*! align-items: center; */
    justify-content: center;
}
.btngroup {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}
button{
    padding: 10px;
    margin: 10px;
}